@font-face {
  font-family: 'iconfont';
  src: url('iconfont/iconfont.eot');
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont/iconfont.woff2') format('woff2'),
      url('iconfont/iconfont.woff') format('woff'),
      url('iconfont/iconfont.ttf') format('truetype'),
      url('iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 4.125rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
.c-icon-community{font-size: 4.6875rem;margin-top: -0.3525rem;display: inline-block;}
.count_icon .iconfont{color: #262626;}
.qualities .column:hover .iconfont{color: #262626;}
header{background-color:#fff;}
.nav-link{color: #262626 !important;}
.c-con{padding: 0 10%;position: relative;z-index: 999;}
.c-overflow{text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;line-clamp: 3;-webkit-box-orient: vertical;padding-bottom:0;margin-bottom:1rem;}
.about-us .counter-column{padding:10px;}
.about-us .counter-column .title{height:3rem;}
.about-us .counter-column .counter{font-size:24px;}
.modal{z-index:10010;}
.modal-backdrop{z-index:10000;}
.nav-brand .logo{width:9rem;}
.qualities .column h5{height:3.75rem;}
.c-col-20{width: 100%;padding:0 0.625rem;}
.our_team .team-card .pic-sec{box-shadow:3px 3px 10px rgba(0,0,0,.4);}
.our_team .team-card .member-detail h6{height:3.125rem;}
.portfolio .item .project a img{width:100% !important;}
@media (min-width:576px) {
	.modal-dialog {
	    max-width: 600px;
	}
	.qualities .column p{min-height: 22.625rem;}
	.c-col-20{width: 50%;}
}
@media (min-width: 768px) {
	.c-col-20{width: 50%;}
}
@media (min-width: 990px) {
	.c-col-20{width: 50%;}
}
@media (min-width: 1100px) {
	.c-col-20{width: 20%;}
	.our_team .team-card .description p{min-height:24.375rem;}
}
@media (max-width: 1440px) {
	.iconfont {font-size: 45px;}
	.c-icon-community{margin-top:-3px;display:inline-block;font-size:3.125rem;}
}